{% extends 'base.html' %}
{% block title %}
    Create a new category
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-md-6 offset-md-3" >
            <div class="card" style="margin: 70px">
                <div class="card-header">
                    <h4 class=text-center> Create a new category</h4>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                    {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    </div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-primary">Save a new category</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
{% endblock %}