{% extends 'base.html' %}
{% block title %}
    Cart
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3"><br><br><br>
                <div class="card">
                    {% csrf_token %}
                    <div class="card-header">
                        <h3 class="text-center">Your shopping list</h3>
                    </div>
                    <div class="card-body">
                        {% if cart_items %}
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name of product</th>
                                    <th style="text-align: right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart_item in cart_items %}
                                    <tr>
                                        <td>
                                            {{ cart_item }}
                                        </td>
                                        <td style="text-align: right">
                                            <a href="{% url 'delete_product_to_card' cart_item.id %}" class="btn btn-outline-danger">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h3 class="text-center">No products</h3>
                        {% endif %}

                    </div>
                    {% if cart_items %}
                        <div class="card-footer text-center">
                            <form method="post" action="{% url 'checkout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Checkout</button>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
