{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="{% static 'icons/diamond_white_24dp.svg' %}" alt="" width="30" height="30"
                 class="d-inline-block align-text-top">
            eShop Project
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        All categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for category in allcategories %}
                            <li><a class="dropdown-item"
                                   href="{% url 'products_per_category' category.id %}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser or perms.category.create_category or perms.category.view_category %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Configure categories
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if perms.category.add_category %}
                                    <li><a class="dropdown-item" href="{% url 'create_category' %}">Create a new
                                        category</a>
                                    </li>
                                {% endif %}
                                {% if perms.category.view_category %}

                                    <li><a class="dropdown-item" href="{% url 'list_of_categories' %}">List of
                                        categories</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user.is_superuser or perms.product.create_product or perms.product.view_product %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Configure products
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                {% if perms.product.create_product %}
                                    <li><a class="dropdown-item" href="{% url 'create_product' %}">Create a new
                                        product</a>
                                    </li>
                                {% endif %}

                                {% if perms.product.view_product %}
                                    <li><a class="dropdown-item" href="{% url 'list_of_products' %}">List of
                                        products</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            {% if request.user.is_authenticated %}
                <div class="dropdown text-light">
                    <button class="dropdown-toggle btn text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'icons/shopping_cart_black_24dp.svg' %}">({{ cart_items_count }})
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

                        <li><a class="dropdown-item" href="{% url 'open_cart_view' %}">
                            Cart Info
                        </a></li>
                    </ul>
                </div>

                <div class="dropdown text-light">
                    <button class="dropdown-toggle btn text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'icons/person_black_24dp.svg' %}">{{ request.user }}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a href="{% url 'update_user' request.user.id %}" class="dropdown-item">My profile</a>
                        </li>
                        <li><a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                        </li>
                    </ul>
                </div>

            {% else %}
                <a href="{% url 'create_user' %}" class="btn btn-outline-warning">Sign up</a>&nbsp;&nbsp;
                <a href="{% url 'login' %}" class="btn btn-outline-light">Login</a>
            {% endif %}

        </div>
    </div>
</nav>
